<!-- <app-login></app-login>
<app-header></app-header>
<app-footer></app-footer>
<p>login works!</p> -->
<app-header></app-header>
<app-footer></app-footer>

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.1/assets/img/favicons/favicon.ico">

    <title>Signin form</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.1/examples/sign-in/">

    <!-- Bootstrap core CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Custom styles for this template <link href="https://getbootstrap.com/docs/4.1/examples/sign-in/signin.css" rel="stylesheet">-->
  </head>

  <body class="text-center">
    <form class="form-signin" #f="ngForm" (ngSubmit)="onSubmit(f.value)">
      <img class="mb-4" src="./assets/zycus.jpg" alt="" width="72" height="72">
      <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
      <label for="inputEmail" class="sr-only">Email address</label>
      <input type="email" id="inputEmail" name="email" class="form-control" placeholder="Email address" required autofocus ngModel>
      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required ngModel>
      <button class="btn btn-lg btn-primary btn-block" type="submit" routerLink="login">Sign in</button>
      <p class="mt-5 mb-3 text-muted">&copy; 2020-2021</p>
    </form>
  </body>
</html>
<router-outlet>
</router-outlet>
<!-- <form  #f="ngForm" (ngSumbit)="onSubmit(f.value)">
  <label for="email">Email</label>
    <input type="email" id='email' name="email" placeholder="Enter Email" ngModel /><br><br>
  <label for="password">Password</label>
    <input type="password" id='password' name="password" placeholder="Enter Password" ngModel /><br><br>
  <button type="submit">Submit</button>

</form> -->
 <table border="1">

<tr>

<th>Id</th>

<th>Title</th>

<th>UserId</th>

</tr>

<tr *ngFor='let item of data'>

<td>{{item.id}}</td>

<td>{{item.title}}</td> <td>{{item.userId}}</td>

</tr>

</table> -->